<footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
      <div class="col l6 s12">
          <h5 class="white-text">NYSE visualizer</h5>
          <p class="grey-text text-lighten-4">google charts and quandl data provider in the same place</p>
      </div>
      <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/adrianiurca/nyse-visualizer">GitHub project</a></li>
          </ul>
      </div>
      </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright NYSE visualizer
      </div>
  </div>
  </footer>
  